
@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Highcharts Examples";
}



<div class="row">
    <div>

        <div class="col-md-12 col-md-6">
            @(Model)
        </div>
    </div>
</div>  