
@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Highcharts Examples";
}
<div>
    
</div>

<div class="row">
    <div>
        <center>
            <div class="col-md-12 col-md-8 ">
                @(Model)
            </div>
        </center>
  
    </div>
</div>  